<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ac.id.ubaya.aplikasimanajemenrapat">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiManajemenRapat"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.forget.ResetPasswordActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="manara.com/reset"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.forget.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.update.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.detail.task.TaskDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.detail.task.AssignTaskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.detail.task.AddTaskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.organization.DetailOrganizationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.achievement.AchievementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.OtherProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.detail.agenda.EditAgendaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.detail.minutes.MinutesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.detail.agenda.DetailAgendaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.detail.agenda.MeetingAddAgendaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.detail.MeetingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.create.AddAgendaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.create.ChooseParticipantActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.create.CreateMeetingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.update.EditMeetingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.organization.EditOrganizationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.organization.JoinOrganizationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.organization.OrganizationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.organization.CreateOrganizationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterNameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ac.id.ubaya.aplikasimanajemenrapat"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>